:root {
    --font-double-xs: clamp(0.3617rem, 0.3205rem + 0.2058vw, 0.48rem)
    --font-xs: clamp(0.8681rem, 0.6135rem + 1.2729vw, 1.6rem);
    --font-small: clamp(1.0417rem, 0.7083rem + 1.6667vw, 2rem);
    --font-medium: clamp(1.25rem, 0.8152rem + 2.1739vw, 2.5rem);
    --font-large: clamp(1.5rem, 0.9348rem + 2.8261vw, 3.125rem);
    --font-xl: clamp(1.8rem, 1.0674rem + 3.663vw, 3.9063rem);
    --font-double-xl: clamp(2.16rem, 1.2129rem + 4.7353vw, 4.8828rem);
    --font-triple-xl: clamp(2.592rem, 1.3706rem + 6.107vw, 6.1035rem);
}